body {
    max-width:960px;
    margin:0 auto;
    
}
img{
    display:flex;
    justify-content: center;
    align-items: center;
}
img[data-src] {
    filter: blur(0.2em);
  }
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
  }