@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Newsreader:wght@300&display=swap');
h1{
    font-family: 'Montserrat', sans-serif;}
h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 1em;}
h3{
    font-family: 'Montserrat', sans-serif;}
p{
    font-family: 'Newsreader', serif;}
li{
    font-family: 'Montserrat', sans-serif;}

body{
    margin:0 auto;
    background-color:#9DD9D2;
}  
header{
    max-width:100%;
}
.title-bar{
    display:flex;
    justify-content:center;
}
nav{
    background-color:#F4D06F;
    padding:0em;
    max-width:100%;
    display:flex;
    justify-content:center;
}
nav ul{
    list-style-type:none;
    display:flex;
    justify-content:center;
    padding:0em;
    margin:1em;
}
ul li{
    margin:10px;
}
main{
    max-width:960px;
    background-color:#FFF8F0;
    margin:0 auto;
}
.map-and-contact{
    background-color:#767522;
    max-width:960px;
    margin: 0 auto;
}
footer{
    max-width:100%;
    background-color:#F4D06F;
    display:flex;
    justify-content:center;
}
.gal7{
    margin:0 auto;
    max-width:960px;
    align-items: center ;
}
.gallery{
    display:flex;
    flex-flow:wrap;
    align-content: center;
    justify-content: center;
}
.gallery img[data-src] {
    filter: blur(0.2em);
  }
  
.gallery img {
    filter: blur(0em);
    transition: filter 0.5s;
    padding:0.5em;
  }